.App {
  text-align: center;
}

.title {
  background-color: #6022D3;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.game {
  position: absolute;
  top: 45%; left: 50%;
  transform: translate(-50%, -50%);
}