body {
    background-image: url("./../img/plateau-v2.png");
    background-size: cover;
    background-attachment: fixed;
    background-position:  center;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
