body {
    /*background-image: url("./../img/plateau-v2.png");
    background-size: cover;
    background-attachment: fixed;
    background-position:  center;
    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%, -50%);*/
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
